<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b476659527.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap" rel="stylesheet">
    

    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo">
            
            <ul class="firstul">
                <li><img src="../public/images/images/lg.png" alt="" height="25%" width="25%"></li>
                <li >meilleur service location dans le monde</li>
            </ul>
        </div>
            <nav>
            
                
                    
                    <label for="check" class="checkbtn">
                      <i class="fa fa-bars"></i>
                      
                    </label>
                    <input type="checkbox" id="check">
                    <ul class="secondul">
                    <li><a href="/">Home</a></li>
                    <li><a href="/sing">inscription</a></li>
                    <li><a class="active" href="/login">login</a></li>
                    <li><a href="/res">reservation</a></li>
                </ul>
            
            </nav>
         
       

    </header>
    
    <div id="mai">
        <div class="con1">
           
            <div class="form" >
                <form action="" class="forme1" method="">
                    
                    <input type="text" id="email" onkeyup="validata()" placeholder="enter voter email"   name="email" required>
                    <div id="erreur2"></div>
                    <input type="password" id="pass1"  onkeyup="validata()" placeholder="enter voter mot de passe"  name="password" required>
                    <div id="erreur3"></div>
                    
                    <input type="button" value="login" onclick="passer()"  id="sub">
                </form>
             </div>
        </div>
        <div class="con2">
            <div>
                <img src="../public/images/images/im1.jpg" width="100.3%">
            </div>
            <div>
                <img src="../public/images/images/im2.jpg">
            </div>
            <div>
                <img src="../public/images/images/im3.jpg">
            </div>
        </div>
</div>
<!-- start 2em partie  -->
<div class="row">
    <div class="colon">
        <div class="col1">
            <img src="../public/images/images/tmax.jpg" alt="tmax" width="75%" height="75%">
            <h3>Scooters 50 cm³/maxi Scooters</h3>
            <button>louer cette catégorie</button>
        </div>
    </div>
    <div class="colon">
        <div class="col1">
            <img src="../public/images/images/mt09.jpg" alt="mt09" width="70%" height="70%">
            <h3>Hyper Naked / Supersport </h3>
            <button>louer cette catégorie</button>
        </div>
    </div>
    <div class="colon">
        <div class="col1">
            <img src="../public/images/images/quad.jpg" alt="quad" width="70%" height="70%">
            <h3>Quad loisirs & compétition</h3>
            <button >louer cette catégorie</button>
        </div>
    </div>

</div>
<!-- end 2em partie -->
<!-- start footer -->
<footer>
    <div class="row2">
        <div class="colon2">
            <ul>
               <h3>Azbike.ma</h3>
                 <li><a href="#">Contacter</a></li>
                 <li><a href="#">Conditions générales de location</a></li>
                 <li><a href="#">Mentions légales</a></li>
                 <li><a href="#">FAQ</a></li>
                 <li><a href="#">Assistance Azbike Maroc</a></li>
            </ul>
        </div>
        <div class="colon2">
            <ul>
                  <h3>Azbike Maroc</h3>
                    <li><a href="#">Découvrir le Maroc</a></li>
                    <li><a href="#">Recrutement</a></li>
                    <li><a href="#">Qui sommes nous</a></li>
                    <li><a href="#">Azbike Business</a></li>
                    <li><a href="#">Nos agences de location</a></li>
                    <li><a href="#">Nos promos</a></li>
            </ul>      
        </div>
        <div class="colon2">
            <ul>
                   <h3>Offres et Produits</h3>
                    <li><a href="#">Véhicules en location</a></li>
                    <li><a href="#">Véhicules d'Occasion</a></li>
            </ul>        
        </div>
        <div class="colon2">
            <ul>
                    <h3>Nos partenaires</h3>
                    <li><a href="#">MIFA</a></li>
                    <li><a href="#">KAWASAKI</a></li>
                    <li><a href="#">HONDA</a></li>
            </ul>        
        </div>
        <div class="soc">
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-linkedin-in"></i>
    </div>
    </div>
</footer>
<!-- end footer -->

<script src=../public/javascripts/java.js></script>
<script>
    function passer(){
    var email = document.getElementById('email').value;
    // console.log(name);
    var password = document.getElementById('pass1').value;
    var err = document.getElementById('erreur2');
    var err2 = document.getElementById('erreur3');
    fetch("../inscription.json")
    .then(response => {
    return response.json()
  })
  .then(data => {
    
      for (var i = 0; i < data.length; i++) {
        if(data[i].email == email && data[i].password == password){
            

            var x = data[i].email;
           err.innerHTML= "email correct" ;
            err.style.color="green";

            err2.innerHTML = "password correct";
            err2.style.color="green";
            window.location.href="/res/"+data[i].nom;
            break;
              
            


            } else{
                err.innerHTML = "email ou mot de passe est incorrect";
                err.style.color="red";

                err2.innerHTML = "incoremail ou mot de passe est incorrect";
                err2.style.color="red";
                
                
                

            }   
           
      
}
})
  .catch(err => {
  })


  
}

</script>
</body>
</html>